<html>
	<body>
		<div style="text-align:center"><img src="http://oi60.tinypic.com/2zeh63c.jpg" /></div>
		<hr>
		<h1 style="font-size: 1.25em;font-weight: bolder;color: rgba(51,51,51,1);margin:30px 15%;">Congratulations! You have been selected to test the private Honeycomb beta.</h1>

		<p style="line-height:1.5em; margin: 0px 10%;">We are excited to have you on the team that will help shape our CAD tool for students and makers. As you test and send feedback, we will be diligently fixing the bugs you encounter. Be sure to stay tuned to the beta to get exclusive looks at the exciting features to come.</p><br><br>

		<p style="line-height:1.5em; margin: 0px 10%;">You can now sign in to Honeycomb using your email and the password: <strong style="font-size:1.25em"><%= @password %></strong></p><br><br>

		<p style="line-height:1.5em; margin: 0px 10%;">Go make something! <a href="http://www.honeycomb3d.com" target="_blank">www.honeycomb3d.com</a></p>
	</body>
</html>


