<html>
	<body>
		<div style="text-align:center"><img src="http://oi60.tinypic.com/2zeh63c.jpg" /></div>
		<hr>
		<h1 style="font-size: 1.25em;font-weight: bolder;color: rgba(51,51,51,1);margin:30px 15%;">Thank you for signing up for the Honeycomb Beta!</h1>

		<p style="line-height:1.5em; margin: 0px 10%;">We are currently in a private beta working with testers to fix bugs and expand our features. If selected, you will be notified with access information.<br><br>

		<p style="line-height:1.5em; margin: 0px 10%;">Want to connect with Honeycomb? Get in touch on <a href="http://www.linkedin.com/profile/view?id=kenanokeefe" target="_blank">LinkedIn</a>.</p>
	</body>
</html>